In [0]:
# load data
df = spark.read.format("csv").option("header",True).load("/mnt/projectteam14/2023.csv")

In [0]:
df.show()

+---------+--------------+-------------+-----------+-------+---------------+---------------+--------------------+--------------------+----------------------+-------------+
|COMMODITY|    STATE_NAME|DISTRICT_NAME|MARKET_NAME|VARIETY|COMMODITY_GROUP|ARRIVALS_TONNES|MIN_PRICE_RS_QUINTAL|MAX_PRICE_RS_QUINTAL|MODAL_PRICE_RS_QUINTAL|REPORTED_DATE|
+---------+--------------+-------------+-----------+-------+---------------+---------------+--------------------+--------------------+----------------------+-------------+
|    Ajwan|Andhra Pradesh|      Kurnool|    Kurnool|  Other|         Spices|           0.10|               10110|               10110|                 10110|  28 Nov 2023|
|    Ajwan|Andhra Pradesh|      Kurnool|    Kurnool|  Other|         Spices|           0.10|               10110|               10110|                 10110|  28 Nov 2023|
|    Ajwan|Andhra Pradesh|      Kurnool|    Kurnool|  Other|         Spices|               |               15010|               15010|                 15010|  17 Nov 2023|
|    Ajwan|Andhra Pradesh|      Kurnool|    Kurnool|  Other|         Spices|           0.10|               10110|               10110|                 10110|  28 Nov 2023|
|    Ajwan|Andhra Pradesh|      Kurnool|    Kurnool|  Other|         Spices|               |               15010|               15010|                 15010|  17 Nov 2023|
|    Ajwan|Andhra Pradesh|      Kurnool|    Kurnool|  Other|         Spices|          11.00|               15110|               17868|                 17368|  07 Nov 2023|
|    Ajwan|Andhra Pradesh|      Kurnool|    Kurnool|  Other|         Spices|           0.10|               10110|               10110|                 10110|  28 Nov 2023|
|    Ajwan|Andhra Pradesh|      Kurnool|    Kurnool|  Other|         Spices|               |               15010|               15010|                 15010|  17 Nov 2023|
|    Ajwan|Andhra Pradesh|      Kurnool|    Kurnool|  Other|         Spices|          11.00|               15110|               17868|                 17368|  07 Nov 2023|
|    Ajwan|Andhra Pradesh|      Kurnool|    Kurnool|  Other|         Spices|          10.00|               17516|               17818|                 17668|  03 Nov 2023|
|    Ajwan|Andhra Pradesh|      Kurnool|    Kurnool|  Other|         Spices|           0.10|               10110|               10110|                 10110|  28 Nov 2023|
|    Ajwan|Andhra Pradesh|      Kurnool|    Kurnool|  Other|         Spices|               |               15010|               15010|                 15010|  17 Nov 2023|
|    Ajwan|Andhra Pradesh|      Kurnool|    Kurnool|  Other|         Spices|          11.00|               15110|               17868|                 17368|  07 Nov 2023|
|    Ajwan|Andhra Pradesh|      Kurnool|    Kurnool|  Other|         Spices|          10.00|               17516|               17818|                 17668|  03 Nov 2023|
|    Ajwan|Andhra Pradesh|      Kurnool|    Kurnool|  Other|         Spices|          10.60|               15180|               16242|                 15570|  27 Oct 2023|
|    Ajwan|Andhra Pradesh|      Kurnool|    Kurnool|  Other|         Spices|           0.10|               10110|               10110|                 10110|  28 Nov 2023|
|    Ajwan|Andhra Pradesh|      Kurnool|    Kurnool|  Other|         Spices|               |               15010|               15010|                 15010|  17 Nov 2023|
|    Ajwan|Andhra Pradesh|      Kurnool|    Kurnool|  Other|         Spices|          11.00|               15110|               17868|                 17368|  07 Nov 2023|
|    Ajwan|Andhra Pradesh|      Kurnool|    Kurnool|  Other|         Spices|          10.00|               17516|               17818|                 17668|  03 Nov 2023|
|    Ajwan|Andhra Pradesh|      Kurnool|    Kurnool|  Other|         Spices|          10.60|               15180|               16242|                 15570|  27 Oct 2023|
+---------+--------------+-------------+-----------+-------+---------------+---------------+--------------------+--------------------+----------------------+-------------+
only showing top 20 rows

In [0]:
# check datatypes
df.dtypes

[('COMMODITY', 'string'),
 ('STATE_NAME', 'string'),
 ('DISTRICT_NAME', 'string'),
 ('MARKET_NAME', 'string'),
 ('VARIETY', 'string'),
 ('COMMODITY_GROUP', 'string'),
 ('ARRIVALS_TONNES', 'string'),
 ('MIN_PRICE_RS_QUINTAL', 'string'),
 ('MAX_PRICE_RS_QUINTAL', 'string'),
 ('MODAL_PRICE_RS_QUINTAL', 'string'),
 ('REPORTED_DATE', 'string')]

In [0]:
# counting rows 
df.count()

93970592

In [0]:
# counting columns
len(df.columns)

11

In [0]:
df.printSchema()

root
 |-- COMMODITY: string (nullable = true)
 |-- STATE_NAME: string (nullable = true)
 |-- DISTRICT_NAME: string (nullable = true)
 |-- MARKET_NAME: string (nullable = true)
 |-- VARIETY: string (nullable = true)
 |-- COMMODITY_GROUP: string (nullable = true)
 |-- ARRIVALS_TONNES: string (nullable = true)
 |-- MIN_PRICE_RS_QUINTAL: string (nullable = true)
 |-- MAX_PRICE_RS_QUINTAL: string (nullable = true)
 |-- MODAL_PRICE_RS_QUINTAL: string (nullable = true)
 |-- REPORTED_DATE: string (nullable = true)

In [0]:
# changing datatypes 
# changing datatypes 
columns = ['ARRIVALS_TONNES','MIN_PRICE_RS_QUINTAL','MAX_PRICE_RS_QUINTAL','MODAL_PRICE_RS_QUINTAL']

from pyspark.sql.functions import col
for colname in columns:
    df = df.withColumn(colname,col(colname).cast('float'))

In [0]:
from pyspark.sql.functions import to_date
df = df.withColumn("REPORTED_DATE", to_date(col("REPORTED_DATE"), "dd MMM yyyy"))

In [0]:
df.dtypes

[('COMMODITY', 'string'),
 ('STATE_NAME', 'string'),
 ('DISTRICT_NAME', 'string'),
 ('MARKET_NAME', 'string'),
 ('VARIETY', 'string'),
 ('COMMODITY_GROUP', 'string'),
 ('ARRIVALS_TONNES', 'float'),
 ('MIN_PRICE_RS_QUINTAL', 'float'),
 ('MAX_PRICE_RS_QUINTAL', 'float'),
 ('MODAL_PRICE_RS_QUINTAL', 'float'),
 ('REPORTED_DATE', 'date'),
 ('Reported Date', 'date')]

In [0]:
# counting null values for each column
for colname in df.columns:
    nullcount = df.filter(col(colname).isNull()).count()
    print(f"{colname} : {nullcount}")

COMMODITY : 0
STATE_NAME : 5536
DISTRICT_NAME : 7196
MARKET_NAME : 7196
VARIETY : 7196
COMMODITY_GROUP : 7196
ARRIVALS_TONNES : 24238444
MIN_PRICE_RS_QUINTAL : 7790
MAX_PRICE_RS_QUINTAL : 8027
MODAL_PRICE_RS_QUINTAL : 8027
REPORTED_DATE : 8150